.negocio-header {
  height: 200px;
  display: flex;
  align-items: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.negocio-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 4px solid white;
}
